:root {
    --color-bg: blue;
    --color-surface: white;
    --color-text: black;
    --color-button: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* .theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
} */

input[type="radio"] {
    display: none;
}

/* label {
    border-right: 1px solid black;
} */

/* label:last-of-type {
    border: none;
} */

table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

td {
    border-right: 1px solid black;
    padding: 10px;
    cursor: pointer;
    color: black;
}



td:has(input:checked) {
    background-color: var(--color-bg);
    color: white;
}


td:last-of-type {
    border: none;
}

button {
    border: 1px solid black;
    background-color: var(--color-button);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-right: auto;
    font-size: 15px;
}

.card:has(#light:checked) {
    background-color: var(--color-surface);
    color: var(--color-text)
}

.card:has(#dark:checked) {
    --color-surface: rgb(44, 42, 42);
    --color-text: white;
    background-color: var(--color-surface);
    color: var(--color-text)
}

.card:has(#custom:checked) {
    --color-surface: rgb(207, 207, 185);
    background-color: var(--color-surface);
    color: var(--color-text)
}

.card:has(#custom:checked) button {
    --color-button: green;
    background-color: var(--color-button);
}

.card:has(#custom:checked) td:has(input:checked) {
    --color-bg: green;
    background-color: var(--color-bg);
}

.card:has(#dark:checked) td {
    color: white;
}

.card:has(#dark:checked) table {
    border-color: grey;
}